auth:
  database: "test"

primary:
  persistence:
    enabled: true
    storageClass: "gp3"
    size: 10Gi
  resources:
    requests:
      memory: "512Mi"
      cpu: "250m"
    limits:
      memory: "1Gi"
      cpu: "500m"

image:
  repository: "bitnamilegacy/mysql"
  tag: "9.4.0-debian-12-r1"